magento/tmp/*
magento/app/etc/local.xml
magento/.htaccess
magento/.idea/*
magento/var/*
magento/.idea/*
tmp/*
app/etc/local.xml
.htaccess
sitemap.xml
.idea/*
.idea/*
tmp/*
var/*
app/etc/local.xml
media/*
.htaccess
.htpasswd
.settings
.buildpath
.project
.idea/*
robots.txt
sitemap.xml
