<config>
    <modules>
        <New_Guestbook>
            <version>0.1.0</version>
        </New_Guestbook>
    </modules>
    <global>
        <helpers>
            <guestbook>
                <class>New_Guestbook_Helper</class>
            </guestbook>
        </helpers>
        <blocks>
            <guestbook>
                <class>New_Guestbook_Block</class>
            </guestbook>
        </blocks>
        <models>
            <guestbook>
                <class>New_Guestbook_Model</class>
            </guestbook>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <guestbook module="New_Guestbook">
                    <file>guestbook.xml</file>
                </guestbook>
            </updates>
        </layout>
        <routers>
            <guestbook>
                <use>standard</use>
                <args>
                    <module>New_Guestbook</module>
                    <frontName>guestbook</frontName>
                </args>
            </guestbook>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <guestbook>
                <schedule>
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>guestbook/guestbookposts::run</model>
                </run>
            </guestbook>
        </jobs>
    </crontab>
</config>