<config>
    <modules>
        <New_Guestbook>
            <version>0.1.0</version>
        </New_Guestbook>
    </modules>
    <admin>
        <routers>
            <guestbook_admin>
                <use>admin</use>
                <args>
                    <module>New_Guestbook</module>
                    <frontName>guestbook_admin</frontName>
                </args>
            </guestbook_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <guestbook module="guestbook">
                <title>Guestbook</title>
                <sort_order>77</sort_order>
                <action>guestbook_admin/adminhtml_guestbook</action>
            </guestbook>
        </menu>
    </adminhtml>
    <global>
        <helpers>
            <guestbook>
                <class>New_Guestbook_Helper</class>
            </guestbook>
        </helpers>
        <blocks>
            <guestbook>
                <class>New_Guestbook_Block</class>
            </guestbook>
        </blocks>
        <models>
            <guestbook>
                <class>New_Guestbook_Model</class>
            </guestbook>
        </models>
        <!--&lt;!&ndash;от сих&ndash;&gt;-->
        <!--<models>-->
            <!--<guestbook>-->
                <!--<class>New_Guestbook_Model</class>-->
                <!--<resourceModel>guestbook_resource</resourceModel>-->
            <!--</guestbook>-->
            <!--<guestbook_resource>-->
                <!--<class>New_Guestbook_Model_Resource</class>-->
                <!--<entities>-->
                    <!--<guestbookposts>-->
                        <!--<table>guestbook_posts</table>-->
                    <!--</guestbookposts>-->
                <!--</entities>-->
            <!--</guestbook_resource>-->
        <!--</models>-->
        <!--&lt;!&ndash;до сих&ndash;&gt;-->
    </global>
    <frontend>
        <layout>
            <updates>
                <guestbook module="New_Guestbook">
                    <file>guestbook.xml</file>
                </guestbook>
            </updates>
        </layout>
        <routers>
            <guestbook>
                <use>standard</use>
                <args>
                    <module>New_Guestbook</module>
                    <frontName>guestbook</frontName>
                </args>
            </guestbook>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <guestbook>
                <schedule>
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>guestbook/guestbookposts::run</model>
                </run>
            </guestbook>
        </jobs>
    </crontab>
</config>