<?xml version="1.0" encoding="UTF-8"?>

<!--
/**
 * Tim
 *
 * @category   Tim
 * @package    Tim_Checkout
 * @copyright  Copyright (c) 2013 Tim (http://tim.pl)
 * @author     Jacek Kiernicki (j.kiernicki@tim.pl)
 */
-->


<config>
    <modules>
        <Tim_Checkout>
            <version>0.1.8</version>
        </Tim_Checkout>
    </modules>
    <global>
        <blocks>
            <tim_checkout>
                <class>Tim_Checkout_Block</class>
            </tim_checkout>
            <checkout>
                <rewrite>
                    <cart>Tim_Checkout_Block_Cart</cart>
                    <onepage_review_info>Tim_Checkout_Block_Onepage_Review_Info</onepage_review_info>
                </rewrite>
            </checkout>
        </blocks>
    </global>
</config>
